HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/frontend/node_modules/@types/node/web-globals/abortcontroller.d.ts
/src/main/frontend/node_modules/undici-types/agent.d.ts
/src/main/frontend/node_modules/undici-types/api.d.ts
/src/main/frontend/node_modules/@types/node/assert.d.ts
/src/main/frontend/node_modules/@types/node/async_hooks.d.ts
/src/main/frontend/node_modules/undici-types/balanced-pool.d.ts
/src/main/frontend/node_modules/@types/node/ts5.6/buffer.buffer.d.ts
/src/main/frontend/node_modules/@types/node/buffer.buffer.d.ts
/src/main/frontend/node_modules/@types/node/buffer.d.ts
/src/main/frontend/node_modules/undici-types/cache.d.ts
/src/main/frontend/node_modules/@types/node/child_process.d.ts
/src/main/frontend/node_modules/undici-types/client.d.ts
/src/main/frontend/node_modules/@types/node/cluster.d.ts
/src/main/frontend/node_modules/undici-types/connector.d.ts
/src/main/frontend/node_modules/@types/node/console.d.ts
/src/main/frontend/node_modules/@types/node/constants.d.ts
/src/main/frontend/node_modules/@types/node/stream/consumers.d.ts
/src/main/frontend/node_modules/undici-types/content-type.d.ts
/src/main/frontend/node_modules/undici-types/cookies.d.ts
/src/main/frontend/node_modules/@types/node/crypto.d.ts
/src/main/frontend/node_modules/@types/node/dgram.d.ts
/src/main/frontend/node_modules/undici-types/diagnostics-channel.d.ts
/src/main/frontend/node_modules/@types/node/diagnostics_channel.d.ts
/src/main/frontend/node_modules/undici-types/dispatcher.d.ts
/src/main/frontend/node_modules/@types/node/compatibility/disposable.d.ts
/src/main/frontend/node_modules/@types/node/dns.d.ts
/src/main/frontend/node_modules/@types/node/domain.d.ts
/src/main/frontend/node_modules/@types/node/web-globals/domexception.d.ts
/src/main/frontend/node_modules/undici-types/env-http-proxy-agent.d.ts
/src/main/frontend/node_modules/undici-types/errors.d.ts
/src/main/frontend/node_modules/@types/node/web-globals/events.d.ts
/src/main/frontend/node_modules/@types/node/events.d.ts
/src/main/frontend/node_modules/undici-types/eventsource.d.ts
/src/main/frontend/node_modules/@types/node/web-globals/fetch.d.ts
/src/main/frontend/node_modules/undici-types/fetch.d.ts
/src/main/frontend/node_modules/undici-types/file.d.ts
/src/main/frontend/node_modules/undici-types/filereader.d.ts
/src/main/frontend/node_modules/undici-types/formdata.d.ts
/src/main/frontend/node_modules/@types/node/fs.d.ts
/src/main/frontend/node_modules/undici-types/global-dispatcher.d.ts
/src/main/frontend/node_modules/undici-types/global-origin.d.ts
/src/main/frontend/node_modules/@types/node/globals.d.ts
/src/main/frontend/node_modules/@types/node/ts5.6/globals.typedarray.d.ts
/src/main/frontend/node_modules/@types/node/globals.typedarray.d.ts
/src/main/frontend/node_modules/undici-types/handlers.d.ts
/src/main/frontend/node_modules/undici-types/header.d.ts
/src/main/frontend/node_modules/@types/node/http.d.ts
/src/main/frontend/node_modules/@types/node/http2.d.ts
/src/main/frontend/node_modules/@types/node/https.d.ts
/src/main/frontend/node_modules/@types/node/compatibility/index.d.ts
/src/main/frontend/node_modules/@types/node/ts5.6/index.d.ts
/src/main/frontend/node_modules/@types/node/index.d.ts
/src/main/frontend/node_modules/undici-types/index.d.ts
/src/main/resources/static/assets/index-D6kkH3QW.js
/src/main/frontend/node_modules/@types/node/compatibility/indexable.d.ts
/src/main/frontend/node_modules/@types/node/inspector.generated.d.ts
/src/main/frontend/node_modules/undici-types/interceptors.d.ts
/src/main/frontend/node_modules/@types/node/compatibility/iterators.d.ts
/src/main/frontend/node_modules/@types/node/LICENSE
/src/main/frontend/node_modules/undici-types/LICENSE
/src/main/frontend/node_modules/undici-types/mock-agent.d.ts
/src/main/frontend/node_modules/undici-types/mock-client.d.ts
/src/main/frontend/node_modules/undici-types/mock-errors.d.ts
/src/main/frontend/node_modules/undici-types/mock-interceptor.d.ts
/src/main/frontend/node_modules/undici-types/mock-pool.d.ts
/src/main/frontend/node_modules/@types/node/module.d.ts
/src/main/frontend/node_modules/@types/node/net.d.ts
/src/main/frontend/node_modules/@types/node/os.d.ts
/src/main/frontend/node_modules/@types/node/package.json
/src/main/frontend/node_modules/undici-types/package.json
/src/main/frontend/node_modules/undici-types/patch.d.ts
/src/main/frontend/node_modules/@types/node/path.d.ts
/src/main/frontend/node_modules/@types/node/perf_hooks.d.ts
/src/main/frontend/node_modules/undici-types/pool.d.ts
/src/main/frontend/node_modules/undici-types/pool-stats.d.ts
/src/main/frontend/node_modules/@types/node/process.d.ts
/src/main/frontend/node_modules/@types/node/dns/promises.d.ts
/src/main/frontend/node_modules/@types/node/fs/promises.d.ts
/src/main/frontend/node_modules/@types/node/readline/promises.d.ts
/src/main/frontend/node_modules/@types/node/stream/promises.d.ts
/src/main/frontend/node_modules/@types/node/timers/promises.d.ts
/src/main/frontend/node_modules/undici-types/proxy-agent.d.ts
/src/main/frontend/node_modules/@types/node/punycode.d.ts
/src/main/frontend/node_modules/@types/node/querystring.d.ts
/src/main/frontend/node_modules/undici-types/readable.d.ts
/src/main/frontend/node_modules/@types/node/readline.d.ts
/src/main/frontend/node_modules/@types/node/README.md
/src/main/frontend/node_modules/undici-types/README.md
/src/main/frontend/node_modules/@types/node/repl.d.ts
/src/main/frontend/node_modules/undici-types/retry-agent.d.ts
/src/main/frontend/node_modules/undici-types/retry-handler.d.ts
/src/main/frontend/node_modules/@types/node/sea.d.ts
/src/main/frontend/node_modules/@types/node/stream.d.ts
/src/main/frontend/node_modules/@types/node/assert/strict.d.ts
/src/main/frontend/node_modules/@types/node/string_decoder.d.ts
/src/main/frontend/node_modules/@types/node/test.d.ts
/src/main/frontend/node_modules/@types/node/timers.d.ts
/src/main/frontend/node_modules/@types/node/tls.d.ts
/src/main/frontend/node_modules/@types/node/trace_events.d.ts
/src/main/frontend/tsconfig.node.tsbuildinfo
/src/main/frontend/tsconfig.tsbuildinfo
/src/main/frontend/node_modules/@types/node/tty.d.ts
/src/main/frontend/node_modules/@types/node/url.d.ts
/src/main/frontend/node_modules/@types/node/util.d.ts
/src/main/frontend/node_modules/undici-types/util.d.ts
/src/main/frontend/node_modules/@types/node/v8.d.ts
/src/main/frontend/vite.config.d.ts
/src/main/frontend/vite.config.js
/src/main/frontend/node_modules/@types/node/vm.d.ts
/src/main/frontend/node_modules/@types/node/wasi.d.ts
/src/main/frontend/node_modules/@types/node/stream/web.d.ts
/src/main/frontend/node_modules/undici-types/webidl.d.ts
/src/main/frontend/node_modules/undici-types/websocket.d.ts
/src/main/frontend/node_modules/@types/node/worker_threads.d.ts
/src/main/frontend/node_modules/@types/node/zlib.d.ts
